
	<div class="container limitedDisplay">
		<% if(error_message && error_message.length > 0) { %> 
			<div class="alert alert-danger" role="alert">
				<%= error_message %> 
			</div>
		<% } %>
		<% if(success_message && success_message.length > 0) { %> 
			<div class="alert alert-success" role="alert">
				<%= success_message %> 
			</div>
		<% } %>
	</div>