<nav class="navbar navbar-expand-lg navbar-dark bg-customDark">
    <div class="container">
        <a class="navbar-brand pr-2" href="/"><i class="fas fa-mug-hot"></i> Cuffee Grounds</a>
        
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <% if(currentPath === "/menu") { %>active<% }%> px-1"><a class="nav-link" href="/menu">Menu <% if(currentPath === "/menu") { %><span class="sr-only">(current)</span><% }%></a></li>
                <li class="nav-item <% if(currentPath === "/connect") { %>active<% }%> px-1"><a class="nav-link" href="#">Connect <i class="fas fa-user-friends"></i> <% if(currentPath === "/current") { %><span class="sr-only">(current)</span><% }%></a></li>
                <li class="nav-item <% if(currentPath === "/about") { %>active<% }%> px-1 mr-3"><a class="nav-link" href="/about">About <% if(currentPath === "/about") { %><span class="sr-only">(current)</span><% }%></a></li>
                <% if(currentUser) { %> 
                    <li class="nav-item <% if(currentPath === "/menu/new") { %>active<% }%> px-1"><a class="nav-link" href="/menu/new">Add Item <% if(currentPath === "/menu/new") { %><span class="sr-only">(current)</span><% }%></a></li>
                <% } %> 
                <!--       <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
            </ul>
            <ul class="navbar-nav">
                <%
                
                    let cartLength = 0;
                    if(cart.items) {
                        cart.items.forEach(item => {
                        cartLength += Number(item.qty);
                    });
                    }
                
                %>
                <li class="nav-item px-1"><a class="nav-link" href="/cart">
                    <span class="d-inline d-lg-none">Cart</span><i class="fas fa-shopping-cart d-none d-lg-inline"></i> (<%= cartLength || 0 %>)</a>
                </li>
                <% if(!currentUser) { %> 
                    <li class="nav-item px-1"><a class="nav-link" href="/login">Login <i class="fas fa-user"></i></a></li>
                    <li class="nav-item px-1"><a class="nav-link" href="/register">Register <i class="fas fa-user-plus"></i></a></li>
                <% } else { %> 
                    <li class="nav-item px-1"><a class="nav-link" href="/logout">
                        Logout <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                <% } %> 
            </ul>

            <!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
        </div> <!-- Nav-Collapse -->
        
        <% if(currentUser) { %> 
            <ul class="navbar-nav ml-auto">
                <li class="nav-item px-1 ml-auto mx-4"><a class="nav-link"><%= currentUser.username %></a></li>
            </ul>
        <% } %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


    </div> <!-- Container -->

</nav> <!-- Navbar -->