<%- include("partials/header.ejs") %> 

    <div class="container">
        <section class="para">
            <p>
                My last name, "Cuffe", has always been mis-pronounced "Cuffee". 
                So I decided to turn it into a pun and create this fake "cuffee" shop! 
                Log in to add, edit, or delete things from the menu.
            </p>
            <p>
                My wife loves coffee, but I've always been more of a tea-fan. 
                At our wedding, we gave out quality coffee and tea as party favors! 
                A friend of ours painted a sign that said, "She loves coffee, he loves tea." 
                We still have this sign hanging over our coffee/tea bar in our house.
                While we've definitely influenced one another over time, we still have our favorites, 
                and wanted to represent them both in our family-owned (fake) coffee shop!
            </p>
        </section>
    </div>

<%- include("partials/footer.ejs") %> 