<%- include("partials/header.ejs") %>

<div class="container">
    <form action="/login" method="POST">
        <div class="form-group">
            <input class="form-control" name="username" type="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" type="password" placeholder="Password" minlength="8" required>
        </div>
        <button class="btn btn-success">Login</button>
    </form>


</div>

<%- include("partials/footer.ejs") %> 