<%- include("partials/header.ejs") %>

<div class="container">
    <form action="/register" method="POST">
        <div class="form-group">
            <span>Email:</span> 
            <input class="form-control" name="username" type="email" placeholder="example@gmail.com" required>
        </div>
        <!-- <div class="form-group">
            <span>First Name:</span> 
            <input class="form-control" name="firstName" type="text" placeholder = "First Name" required>
        </div>
        <div class="form-group">
            <span>Last Name:</span> 
            <input class="form-control" name="lastName" type="text" placeholder = "Last Name" required>
        </div> -->
        <div class="form-group">
            <span>Password:</span> 
            <input class="form-control" name="password" type="password" placeholder="minimum 8 chars" minlength="8" required>
        </div>
        <button class="btn btn-success">Register</button>
    </form>


</div>

<%- include("partials/footer.ejs") %> 