<%- include("partials/header.ejs") %>

<main class="container">

    <div class="authCard">
        <div class="imgDisplay"></div>
        <div class="formDisplay">
            <form action="/register" method="POST">
                <div class="form-group">
                    <span>Email:</span> 
                    <input class="form-control" name="username" type="email" placeholder="example@gmail.com" required autofocus>
                </div>
                <div class="form-group">
                    <span>Password:</span> 
                    <input class="form-control" name="password" type="password" placeholder="minimum 8 chars" minlength="8" required>
                </div>
                <div class="form-group">
                    <span>Code:</span> 
                    <input class="form-control" name="adminCode" type="password" placeholder="optional code">
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>

</main>

<%- include("partials/footer.ejs") %> 