html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	background-image: url("/images/background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Dosis', sans-serif;
	color: white;
}

a {
	color: white;
}

h1 {
	font-weight: 700;
	font-size: 4em;
}

h3 {
	font-size: 2em;
}

/*Color Themes*/

.themeDark {
	color: #311b1b;
}

.themeLight {
	background-color: #806a6a;
	color: white;
}

.themeLight:hover {
	background-color: #311b1b;
	color: white;
}

/*End Color Themes*/

.bg-customDark {
	background-color: #311b1b;
}

.para {
	background-color: rgba(50, 50, 50, 0.6);
	margin: 50px 20% 80px;
	padding: 10%;
}

.menu {
	background-color: rgba(50, 50, 50, 0.6);
	margin: 50px auto 80px;
}

.limitedDisplay {
	max-width: 600px;
}

.authCard {
	width: 600px;
	height: 300px;
	padding: 0;
	margin: 30vh auto 80px;
	max-width: 100%;
	border-radius: 0 25px 25px 0;
	-webkit-border-radius: 0 25px 25px 0;
	-moz-border-radius: 0 25px 25px 0;
	overflow: hidden;
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(2, 1fr);
}

.menu,
.authCard,
.para,
table.cart {
	box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3);
}

table.cart {
	width: 100%;
	margin: 10vh auto;
	/* border: 2px solid black; */
	background-color: white;
	color: black;
	font-size: clamp(0.8rem, 3vw, 1.5rem);
}

table.cart thead th {
	text-align: center;
	border-bottom: 2px solid black;
	font-size: 2rem;
	position: relative;
}

table.cart thead th button {
	position: absolute;
	right: 20px;
	top: 15%;
	height: 70%;
}

.btn:active,
.btn:focus {
	box-shadow: none;
}

table.cart tr > td.empty {
	display: block;
	text-align: center;
	margin-top: 30px;
}

table.cart tr.cartItem td.item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 20px;
}

table.cart tr.cartItem::after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 80%;
	padding-top: 20px;
	border-bottom: 1px solid black;
}

tr.cartItem > td.item > form {
	padding: 0;
}

tr.cartItem > td.item button.deleteButton {
	padding: 5px;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
	opacity: 0;
	color: #555;
	cursor: pointer;
	transition: opacity 0.25s linear;
}

tr.cartItem > td.item:hover button.deleteButton {
	opacity: 1;
}

tr.cartItem > td.item > img {
	width: 100px;
	max-width: 15vw;
	margin: 0 min(15px, 3%);
	border: 1px solid gray;
	box-shadow: 2px 3px 7px;
}

tr.cartItem > td.item > a {
	display: inline-block;
	max-width: 30%;
}

tr.cartItem > td.item > span.quantity {
	margin-left: auto;
	margin-right: 1em;
	text-align: right;
	width: 1.5em;
}

tr.cartItem > td.item > span.price {
	margin-right: min(30px, 5%);
}

tr.cartTotal > td {
	display: block;
	padding-top: 20px;
	padding-right: 40px;
	width: 100%;
	text-align: right;
}

.outOfStock {
	text-decoration: line-through;
}

.outOfStockNotification {
	color: red;
	font-weight: 600;
}

.form-group {
	display: flex;
}

.form-group > span {
	color: white;
	float: left;
	text-align: right;
	min-width: 75px;
	padding-right: 10px;
}

.form-control {
	display: inline-block;
	width: 100%;
	/* flex: 0 1 100%; */
}

.card.bg-light {
	color: black;
}

.container.bg-cover {
	background-color: rgba(50, 50, 50, 0.6);
}

.container form {
	padding: 20px;
}

.menu .header {
	background-color: #806a6a;
	text-align: center;
	padding: 20px;
	margin: 0;
}

.menu .content {
	padding: 30px 10%;
}

.menu a {
	color: white;
}

.cart a {
	color: black;
}

.cart a:hover {
	color: navy;
}

.flashMessage.container .alert-success a {
	color: #3e774b;
}

.flashMessage.container .alert-danger a {
	color: #311b1b;
}

.authCard .imgDisplay {
	display: flex;
	background-image: url("../images/welcome.jpg");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 100%;
}

.authCard .formDisplay {
	background-color: rgba(50, 50, 50, 0.8);
	display: flex;
	align-items: center;
	justify-items: flex-end;
}

.authCard .formDisplay form {
	width: 100%;
}

#menuItemCard {
	margin: .5rem auto 80px;
}

#newMenuItem {
	color: black;
}

@media only screen and (max-width: 767px) {
	body {
		background-image: url("/images/background-mobile.jpg");
	}
}

@media only screen and (max-width: 360px) {
	tr.cartItem > td.item > span.quantity {
		width: 50%;
	}

	tr.cartItem > td.item > a {
		max-width: 60%;
	}
}

@media only screen and (max-width: 200px) {
	tr.cartItem > td.item > span.quantity {
		width: 30%;
		margin-top: 15px;
	}
	tr.cartItem > td.item > span.price {
		margin-top: 15px;
	}
	tr.cartItem > td.item > a {
		max-width: 40%;
	}
}
